@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    font-size: 20px;
    font-weight: bold;
}
.category li:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.category li:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.category li:not(:first-of-type) {
    border-left: 0;
}
